*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: rgb(8, 8, 8);
    color: #fff;
   
    
}

#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/background-image4.jpg);
    background-size:cover;
    background-position: center;
     
}

.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo{
    width: 140px;
    color: #fff;
    font-size: 33px;
    font-weight: bold;
}

span{
    color: #FE95A6;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px; 
   
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #FE95A6;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
    
}


.header-text{
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1{
    font-size: 60px;
    margin-top: 20px;

}

.intro-text{
    font-size: 18px;
    font-weight: 300;
    margin-top: 20px;
    color: #fff;
   
}


/* Button Styling   */
.button{
    display: inline-block;
    background: rgb(136, 1, 24);
    border: 2px solid white;
    color: white;
    padding: 13px 13px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    width: 200px;
    text-align: center;
    margin-top: 40px;
    cursor: pointer;
   

}

.button:hover{
    background: white;
    border: 2px solid rgb(136, 1, 24);
    color: rgb(136, 1, 24);
    padding: 13px 13px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
}

.button:active{
    opacity: 0.5;
}

/* For Animation  */
#flip {
    height: 45px;
    overflow: hidden;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  #flip > div > div {
    color: #fff;
    text-align: center;
    padding: 4px 12px;
    height: 55px;
    margin-bottom: 45px;
    display: inline-block;
  }
  
  #flip div:first-child {
    -webkit-animation: show 5s linear infinite;
            animation: show 5s linear infinite;
  }
  
  #flip div div {
    background: #810e44;
  }
  #flip div:first-child div {
    background: #19426c;
  }
  #flip div:last-child div {
    background: #880118;
  }
  
  @-webkit-keyframes show {
    0% {
      margin-top: -270px;
    }
    5% {
      margin-top: -180px;
    }
    33% {
      margin-top: -180px;
    }
    38% {
      margin-top: -90px;
    }
    66% {
      margin-top: -90px;
    }
    71% {
      margin-top: 0px;
    }
    99.99% {
      margin-top: 0px;
    }
    100% {
      margin-top: -270px;
    }
  }
  
  @keyframes show {
    0% {
      margin-top: -270px;
    }
    5% {
      margin-top: -180px;
    }
    33% {
      margin-top: -180px;
    }
    38% {
      margin-top: -90px;
    }
    66% {
      margin-top: -90px;
    }
    71% {
      margin-top: 0px;
    }
    99.99% {
      margin-top: 0px;
    }
    100% {
      margin-top: -270px;
    }
  }
  

/*----------------About----------------------*/

#about{
    padding: 80px 0;
    color: #fff;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}

.about-col-2{
    flex-basis: 60%;
}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    text-decoration: underline;
}

.tab-titles{
  display: flex;
  margin: 20px 0 40px;
}

.tab-links{
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.tab-links::after{
  content: '';
  width: 0;
  height: 3px;
  background: #FE95A6;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-links.active-link::after{
  width: 50%;
}

.tab-contents ul li{
  list-style: none;
  margin: 10px 0;
}

.tab-contents ul li span{
  color: #FE95A6;
  font-size: 15px;
}