*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: rgb(8, 8, 8);
    color: #fff;
   
    
}

#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/background-image4.jpg);
    background-size:cover;
    background-position: center;
     
}

.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo{
    width: 140px;
    color: #fff;
    font-size: 33px;
    font-weight: bold;
}

span{
    color: #FE95A6;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px; 
   
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #FE95A6;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
    
}


.header-text{
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1{
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 20px;

}

.intro-text{
    font-size: 18px;
    font-weight: 300;
    margin-top: 20px;
    color: #fff;
   
}

.row{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.social-links{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-top: 20px;
  margin-bottom: 20px;
}

.social-links li{
  margin-right: 10px;
}
/*----------------fab icons---------------------*/
.fab {
  margin: 5px;
  margin-left: 0;
  padding: 10px;
  height: auto;
  width: auto;
  text-align: center;
  border: 1px solid #FE95A6;
  text-decoration: none;
  border-radius: 25%;
  font-size: 18px;
  color: #ffffff;
  background: rgb(14, 13, 13);
 
  
}

.fab:hover {
  background: #FE95A6;
  color: #0E0D0D;
  transition: 1s;
}




/* Button Styling   */
.button{
    display: inline-block;
    border: 1px solid #FE95A6;
    color: #fff;
    padding: 14px 50px;
    border-radius: 10px;
    text-decoration: none;
    width: fit-content;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
   

}

.button:hover{
    background: #FE95A6;
    color: #0E0D0D;
   
}

.button:active{
    opacity: 0.5;
}

/* For Animation  */
#flip {
    height: 45px;
    overflow: hidden;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  #flip > div > div {
    color: #fff;
    text-align: center;
    padding: 4px 12px;
    height: 55px;
    margin-bottom: 45px;
    display: inline-block;
  }
  
  #flip div:first-child {
    -webkit-animation: show 5s linear infinite;
            animation: show 5s linear infinite;
  }
  
  #flip div div {
    background: #810e44;
  }
  #flip div:first-child div {
    background: #19426c;
  }
  #flip div:last-child div {
    background: #880118;
  }
  
  @-webkit-keyframes show {
    0% {
      margin-top: -270px;
    }
    5% {
      margin-top: -180px;
    }
    33% {
      margin-top: -180px;
    }
    38% {
      margin-top: -90px;
    }
    66% {
      margin-top: -90px;
    }
    71% {
      margin-top: 0px;
    }
    99.99% {
      margin-top: 0px;
    }
    100% {
      margin-top: -270px;
    }
  }
  
  @keyframes show {
    0% {
      margin-top: -270px;
    }
    5% {
      margin-top: -180px;
    }
    33% {
      margin-top: -180px;
    }
    38% {
      margin-top: -90px;
    }
    66% {
      margin-top: -90px;
    }
    71% {
      margin-top: 0px;
    }
    99.99% {
      margin-top: 0px;
    }
    100% {
      margin-top: -270px;
    }
  }
  

/*----------------About----------------------*/

#about{
    padding: 80px 0;
    color: #fff;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}

.about-col-2{
    flex-basis: 60%;
}

.sub-title{
    font-size: 40px;
    font-weight: 600;
    text-decoration: underline;
}

.tab-titles{
  display: flex;
  margin: 20px 0 40px;
}

.tab-links{
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.tab-links::after{
  content: '';
  width: 0;
  height: 3px;
  background: #FE95A6;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-links.active-link::after{
  width: 50%;
}

.tab-contents ul li{
  list-style: none;
  margin: 10px 0;
}

.tab-contents ul li span{
  color: #FE95A6;
  font-size: 15px;
}

.tab-contents{
  display: none;
}

.tab-contents.active-tab{
  display: block;
}

/*-----------------Skills-----------------------*/

.skill{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 20px 10%;
  gap: 40px;
}

.sub-title1{
  text-align: center;
  font-size: 40px;
  font-weight: 600;
 
  margin-bottom: 20px;
  text-decoration: underline;
}


#technical-skills,
#professional-skills{
    width: 100%;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

#technical-skills{
    background-color: #222;
}

#professional-skills{
    background-color: #333;
}

.sub-title span{
    color: #fe95a6;
}

section{
    display: flex;
    flex-wrap: wrap;
}

/*.container1{
    width: 600px;
    height: 500px;
    padding: 75px 90px;
    margin-left: 120px;
} */

.heading{
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;

}

.bar{
    font-size: 23px;
}

.Technical-bars .bar{
    margin: 40px 0;
}

.Technical-bars .bar:first-child{
    margin-top: 0;
}

.Technical-bars .bar:last-child{
    margin-bottom: 0;
}

.Technical-bars .bar .info{
    margin-bottom: 5px;
}

.Technical-bars .bar .info span{
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;

}

.Technical-bars .bar .progress-line{
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background-color: #333;
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}

@keyframes animate{
    100%{
        transform: scaleX(1);
    }
}

.Technical-bars .bar .progress-line span{
    height: 100%;
    background-color: #fe95a6;
    position: absolute;
    border-radius: 10px;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}

.progress-line.html span{
    width: 85%;
}

.progress-line.css span{
    width: 75%;
}

.progress-line.Javascript span{
    width: 65%;
}

.progress-line.react span{
    width: 60%;
}

.progress-line.python span{
    width: 55%;
}

.progress-line span::after{
    position: absolute;
    padding: 1px 8px;
    background-color: #333;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
    top: -28px;
    right: -20px;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}

.progress-line.html span::after{
    content: "85%";
}

.progress-line.css span::after{
    content: "75%";
}

.progress-line.Javascript span::after{
    content: "65%";
}

.progress-line.react span::after{
    content: "60%";
}

.progress-line.python span::after{
    content: "55%";
}

.progress-line span::before{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #333;
    top: -10px;
    right: 0;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}

@keyframes showText{
    100%{
        opacity: 1;
    }
}

.radial-bars{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.radial-bars .radial-bar{
    width: 50%;
    height: 170px;
    margin-bottom: 10px;
    position: relative;
}

.radial-bars .radial-bar svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 120px;
    height: 160px;

}

.radial-bars .radial-bar .progress-bar{
    stroke-width: 10;
    stroke: black;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
    animation: animate-bar 1s linear forwards;
}

@keyframes animate-bar{
    100%{
        stroke-dashoffset: -1;
    }
}

.path{
    stroke-width: 10;
    stroke: #fe95a6;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
}

.path-1{animation: animate-path1 1s 1s linear forwards;}
.path-2{animation: animate-path1 1s 1s linear forwards;}
.path-3{animation: animate-path1 1s 1s linear forwards;}
.path-4{animation: animate-path1 1s 1s linear forwards;}

@keyframes animate-path1{
    100%{
        stroke-dashoffset: 50;
    }
}

@keyframes animate-path1{
    100%{
        stroke-dashoffset: 175;
    }
}

@keyframes animate-path1{
    100%{
        stroke-dashoffset: 125;
    }
}

@keyframes animate-path1{
    100%{
        stroke-dashoffset: 75;
    }
}

.radial-bar .percentage{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5 1s linear forwards;
    opacity: 0;
}

.progress-bar .text{
    width: 100%;
    position: absolute;
    text-align: center;
    left: 50%;
    bottom: -5px;
    transform: translate(-50%);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}


/*-----------------Portfolio---------------------*/

#portfolio{
  padding: 50px 0;

}

.work-list{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  margin-top: 50px;
}

.work{
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.work img{
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}


.layer{
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0,0,0,0.6), #FE95A6);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
}

.layer h3{
  font-weight: 500;
  margin-bottom: 20px;
}

.layer a{
  margin-top: 20px;
  color: #FE95A6;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background-color: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}

.work:hover img{
  transform: scale(1.1);
}

.work:hover .layer{
  height: 100%;
}

.btn{
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #FE95A6;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
  transition: background-color 0.5s;
}

.btn:hover{
  background-color: #FE95A6;
  color: #0E0D0D;
}