*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: rgb(8, 8, 8);
    color: #fff;
    font-weight: 300;
    
}

#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/background-image4.jpg);
    background-size:cover;
    background-position: center;
     
}

.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo{
    width: 140px;
    color: #fff;
    font-size: 33px;
    font-weight: bold;
}

span{
    color: #FD4766;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px; 
   
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #FD4766;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
    
}


.header-text{
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1{
    font-size: 60px;
    margin-top: 20px;
   
}


